@font-face {
    font-family: "thesims3";
    src: url(../fonts/SimsLLHP.ttf);
}
@font-face {
    font-family: "thesims4";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/thesimssansbold.woff) format("woff");
}

@font-face {
    font-family: "thesims4sc";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/thesimssansboldsc.woff) format("woff");
}

html {
    background-color: white;
}

body {
    position: relative;
    width: 100vw;
}
body::-webkit-scrollbar {
    display: none;
}

#pix {
    background-color: #856cff;
    color: white;
    font-family: "thesims4sc";
    font-size: 0.7rem;
    text-align: center;
    padding: 0.3rem;
}
#pix strong {
    margin-left: 0.35rem;
}

.header {
    width: 100vw;
    background-color: #6c36ff;
    color: white;
}
.header-container {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-article h1 {
    font-family: "thesims3";
    font-size: 3rem;
    color: #dd45d9;
}
.header-article {
    display: flex;
    gap: 1rem;
    font-size: 1.32rem;
}
.header-article i:nth-child(2) {
    color: black;
}
.header-article:last-child {
    width: 52.02px;
}

.hero-carousel {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    background-color: #856cff;
    position: relative;
}
.hero-carousel_card {
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
.hero-carousel_card img {
    width: 200%;
    margin-left: -50%;
}

.features-carousel {
    position: relative;
    width: 100vw;
    min-height: 2rem;
    padding: 0.8rem 0;
    overflow: hidden;
    border-bottom: 1px solid #bdbdbd;
}
.features-carousel_card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: "thesims4";
    top: 0;
    left: 0;
    transform: translateX(200%);
    transition: transform 0.5s ease-in-out;
}
.features-carousel_card i {
    font-size: 2rem;
    color: #6c36ff;
}
.features-carousel_card h3 {
    font-weight: bold;
    color: #6c36ff;
}
.features-carousel_card p {
    color: #818181;
}
.features-carousel_btn {
    position: absolute;
    padding: 0 1rem;
    top: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}
.features-carousel_btn:first-child {
    left: 0;
}
.features-carousel_btn:last-child {
    right: 0;
}

.main {
    margin-bottom: 6rem;
}

.shop-row {
    margin-top: 3rem;
    font-family: "thesims4";
    width: 100vw;
}
.shop-row h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: -1.5rem;
}
.shop-row_content {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
}
.shop-row_content::-webkit-scrollbar {
    visibility: hidden;
}
.shop-row_content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 18rem;
    text-decoration: none;
    color: inherit;
    margin: 2rem 0 0;
    padding: 0 1rem;
    font-family: Montserrat, sans-serif;
    text-align: center;
    /* border: 1px solid #ccc; */
}
.shop-row_content-card .img-container {
    width: 10rem;
    height: 10rem;
    /* border-radius: 50%; */
    overflow: hidden;
}
.shop-row_content-card img {
    width: 100%;
    height: 100%;
}
.shop-row_content-card h3 {
    height: 3.199375rem;
    font-size: 0.8rem;
}
.shop-row_content-card .stars-container {
    display: flex;
}
.shop-row_price {
    font-family: "thesims4";
    font-size: 1.2rem;
    color: #6c36ff;
}
.shop-row_discount {
    font-size: 0.8rem;
    height: 3.199375rem;
}
.shop-row_discount strong {
    font-weight: bold;
}
.shop-row_btn {
    background-color: #fc5832;
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.8rem 2.5rem;
    font-size: 0.75rem;
    /* font-weight: bold; */
    border-radius: 5px;
}
.shop-row:last-child {
    margin-bottom: 3rem;
}

.mobile-baseboard {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 4.125rem;
    border-top: 1px solid #dfdfdf;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}
.mobile-baseboard .container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.mobile-baseboard a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #201f1f;
    gap: 0.2rem;
}
.mobile-baseboard a i {
    font-size: 1.4375rem;
}
.mobile-baseboard a span {
    font-size: 0.75rem;
}
