@font-face {
    font-family: "thesims3";
    src: url(../fonts/SimsLLHP.ttf);
}
@font-face {
    font-family: "thesims4";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/thesimssansbold.woff) format("woff");
}

@font-face {
    font-family: "thesims4sc";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/thesimssansboldsc.woff) format("woff");
}

html {
    background-color: white;
}

body {
    position: relative;
    width: 100vw;
}
body::-webkit-scrollbar {
    display: none;
}

#pix {
    background-color: #856cff;
    color: white;
    font-family: "thesims4sc";
    font-size: 0.7rem;
    text-align: center;
    padding: 0.3rem;
}
#pix strong {
    margin-left: 0.35rem;
}

.header {
    width: 100vw;
    background-color: #6c36ff;
    color: white;
}
.header-container {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-article h1 {
    font-family: "thesims3";
    font-size: 3rem;
    color: #dd45d9;
}
.header-article {
    display: flex;
    gap: 1rem;
    font-size: 1.32rem;
}
.header-article i:nth-child(2) {
    color: black;
}
.header-article:last-child {
    width: 52.02px;
}

.hero-carousel {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    background-color: #856cff;
    position: relative;
}
.hero-carousel_card {
    position: absolute;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
.hero-carousel_card img {
    width: 200%;
    margin-left: -50%;
}

.features-carousel {
    position: relative;
    width: 100vw;
    min-height: 2rem;
    padding: 0.8rem 0;
    overflow: hidden;
    border-bottom: 1px solid #bdbdbd;
}
.features-carousel_card {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: "thesims4";
    top: 0;
    left: 0;
    transform: translateX(200%);
    transition: transform 0.5s ease-in-out;
}
.features-carousel_card i {
    font-size: 2rem;
    color: #6c36ff;
}
.features-carousel_card h3 {
    font-weight: bold;
    color: #6c36ff;
}
.features-carousel_card p {
    color: #818181;
}
.features-carousel_btn {
    position: absolute;
    padding: 0 1rem;
    top: 1.2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}
.features-carousel_btn:first-child {
    left: 0;
}
.features-carousel_btn:last-child {
    right: 0;
}

.main {
    /* margin-bottom: 6rem; */
}

.shop-row,
.blog,
.about-us {
    margin-top: 3rem;
    font-family: "thesims4";
    width: 100vw;
}
.shop-row h2,
.blog h2,
.about-us h2 {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: -1.5rem;
}
.shop-row_content {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
}
.shop-row_content::-webkit-scrollbar {
    visibility: hidden;
}
.shop-row_content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 18rem;
    text-decoration: none;
    color: inherit;
    margin: 2rem 0 0;
    padding: 0 1rem;
    font-family: Montserrat, sans-serif;
    text-align: center;
    /* border: 1px solid #ccc; */
}
.shop-row_content-card .img-container {
    width: 10rem;
    height: 10rem;
    /* border-radius: 50%; */
    overflow: hidden;
}
.shop-row_content-card img {
    width: 100%;
    height: 100%;
}
.shop-row_content-card h3 {
    height: 3.199375rem;
    font-size: 0.8rem;
}
.shop-row_content-card .stars-container {
    display: flex;
}
.shop-row_price {
    font-family: "thesims4";
    font-size: 1.2rem;
    color: #6c36ff;
}
.shop-row_discount {
    font-size: 0.8rem;
    height: 3.199375rem;
}
.shop-row_discount strong {
    font-weight: bold;
}
.shop-row_btn {
    background-color: #fc5832;
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.8rem 2.5rem;
    font-size: 0.75rem;
    /* font-weight: bold; */
    border-radius: 5px;
}
.shop-row:last-child {
    margin-bottom: 3rem;
}
.blog {
    overflow: hidden;
}
.blog a {
    text-decoration: none;
    color: black;
}
.blog h2 {
    margin-bottom: 1rem;
}
.blog-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding-bottom: 1rem;
}
.blog-card {
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ececec;
    border-radius: 0.2rem;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding-bottom: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.blog-card .img-container {
    width: 100%;
    height: 7.5rem;
    overflow: hidden;
    border-radius: 0.2rem 0.2rem 0 0;
}
.blog-card .img-container img {
    width: 130%;
    height: 100%;
    object-fit: fill;
    margin-left: -15%;
}
.blog-card h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 0.85rem;
    font-weight: bold;
    color: #6c36ff;
    display: -webkit-box;
    margin: 0.5rem 0;
    padding: 0 1rem;
}
.blog-card p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-size: 0.75rem;
    text-overflow: ellipsis;
    padding: 0 1rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.blog-card a {
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
}

.about-us h2 {
    margin-bottom: 0;
}
.about-us p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    margin: 0.8rem 0;
}
#userEmail {
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    padding: 1rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background-color: #f6f6f6;
    color: #919191;
    width: 80%;
}
.input-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}
.input-btn {
    position: absolute;
    right: 10%;
    color: #555;
}
.about-us_container {
    width: 95%;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    margin: 0 auto;
    overflow: hidden;
    max-height: 2.5rem;
    transition: max-height 0.8s ease-in-out;
    text-align: left;
}
.about-us_container h2,
.about-us_container p {
    text-align: left;
    padding: 0 1rem;
}
.about-us_container p strong {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    color: black;
}
.about-us_container .about-us_Urinova {
    color: #dd45d9;
    font-family: "thesims3";
    font-size: 2.5rem;
    /* margin-top: 0rem; */
}
.about-us_btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.about-us_subcontainer {
    padding: 0 1rem;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}
.about-us_subcontainer p {
    padding: 0;
}
.about-us_subcontainer > p {
    margin-bottom: 0.2rem;
}
.about-us_subcontainer .container {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.about-us_subcontainer:nth-of-type(2) {
    border: none;
}
.about-us_subcontainer:nth-of-type(4) {
    border: none;
    padding-bottom: 0.2rem;
}
.about-us_subcontainer b {
    font-weight: bold;
    font-size: 1rem;
}
.about-us_subcontainer .logo {
    font-size: 1.5rem;
}
/* .about-us_container .about-us_btn + .about-us_Urinova {
    color: white;
    color: #dd45d9;
} */
.about-us_container:nth-of-type(odd) {
    border: none;
}
.about-us_container a {
    color: #555;
    text-decoration: none;
    display: block;
    font-family: "Montserrat", sans-serif;
    padding: 0.4rem 1rem;
}
.about-us_container a:last-of-type {
    margin-bottom: 0.8rem;
}
.about-us_container .socialMedia {
    display: inline-block;
    background-color: #f3f3f3;
    padding: 1rem;
    font-size: 1.1rem;
    margin-right: 1rem;
    border-radius: 100%;
}
.about-us_container .socialMedia:first-of-type {
    margin: 0 1rem;
}

.bandeiras-pagamento {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}
.gataway-pagamento {
    display: flex;
    padding: 0.5rem 1.2rem;
    justify-content: flex-start;
    gap: 1rem;
}
.gataway-pagamento li i {
    width: 2.3rem;
    height: 2rem;
    display: inline-block;
    transform: scale(1.2);
}
.bandeiras-pagamento li i {
    width: 2.3rem;
    height: 1.4rem;
    display: inline-block;
}
.icone-pagamento {
    background-image: url(../imgs/icone-pagamento.png);
}
.amex {
    background-position: -100px 0;
}
.aura {
    background-position: -250px 0;
}
.diners {
    background-position: -100px 0;
}
.elo {
    background-position: -200px 0;
}
.hipercard {
    background-position: -350px 0;
}
.mastercard {
    background-position: -50px 0;
}
.visa {
    background-position: 0 0;
}
.boleto {
    background-position: 0 -240px;
}
.pix {
    background-position: -250px -240px;
}
.securitySeal {
    margin: 0 1rem 0.8rem;
}

.footer {
    width: 100vw;
    text-align: center;
    color: #8a8a8a;
    font-family: "MOntserrat", sans-serif;
    font-size: 0.8rem;
    margin-bottom: 4.125rem;
}
.footer p {
    text-wrap: wrap;
    padding: 1rem;
}
.footer p strong {
    font-weight: bold;
}

.opened_about-us {
    max-height: 100vh;
}
.opened_about-us .about-us_btn + .about-us_Urinova {
    color: #dd45d9;
}

.mobile-baseboard {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 4.125rem;
    border-top: 1px solid #dfdfdf;
    background-color: white;
    font-family: "Montserrat", sans-serif;
}
.mobile-baseboard .container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.mobile-baseboard a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #606060;
    gap: 0.2rem;
}
.mobile-baseboard a i {
    font-size: 1.4375rem;
}
.mobile-baseboard a span {
    font-size: 0.75rem;
}

.header-scroll {
    position: fixed;
    top: 0;
    z-index: 5;
}
